*{
    margin: 0;
    padding: 0;
scroll-behavior: smooth;
}
.section2{
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* min-height: 800px; */
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 35px;
    width: 100%;
}
.name2{
    padding-top: 70px;
    padding-bottom:70px;
    display: flex;
    justify-content: center;
}
.name2 div{
    background-color: aliceblue;
    display: inline;
    gap: 17px;
    border-radius: 25px;
    color: black;
    padding-bottom: 3%;


}
.group {

    width: 98%;
    height: 96%;
}
.group img{
    margin-top: 5%;
    margin-left: 7%;
    width:85%;
}
.con1{
    align-items: baseline;
    text-align: left;
    height: 364px;

}

.group h2{
    color: black;
    padding: 10px;
    margin-left: 19px;
    line-height: 50px;
    font-size: 48px;
    width: 50%;
}
.group h6{
    color: black;
    padding: 30px;
    font-weight: 700;
}
.group p{
    color: gray ;
    font-weight: 200;
    font-size: 28px;

    padding: 10px;
    font-weight: 700;
}

/* .group  button{
    display: inline-block;
    padding: 10px;
    color: aliceblue;
    background-color: black;
    font-weight: 800;
    border: none;
    font-size: medium;
    width: 130px;

} */
.group h6{
    padding-top: 1px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 100%;
}

.button-8{
    margin-left: 6.5%;

}
.button-8 button{
    display: flex;
    display: inline;
    flex-direction: row;
    padding: 6px;
    justify-content:center;
    margin-right: 1%;
    color: #ff0000;
    background-color: rgba(255, 255, 255, 0.952);
    font-weight: 520;
    font-size: medium;
    width: 100px;
    border-radius: 15px;
    border: 2px solid #ff0000;
    background-image: linear-gradient(30deg, #fdfdfd 50%, transparent 50%);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: background 300ms ease-in-out;
}
.button-8 button:hover {
    background-position: 100%;
    background-color: red;
    color: rgb(253, 253, 253);
}
.on-e  button{
    display: inline-block;
    padding: 20px;
    display: flex;
    margin-bottom: 25px;
    gap: 5%;
    justify-content: center;
    margin-left: 6.5%;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0.952);
    font-weight: 800;
    font-size: medium;
    width: 395px;
    border-radius: 15px;
    border: 2px solid #F20F05;
    background-image: linear-gradient(30deg, #f20505 50%, transparent 50%);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;

}
.on-e button:hover {
    background-position: 100%;
    background-color: transparent;
    color: #f20505;
}

.dish-icon{
    margin-left: 108px;
}

.dish-icon .star{
    padding-left: 11px;
}

.dish-icon .fa-info-circle{
    font-size: 18px;

}

.dish-icon .fa-heart{
    font-size: 18px;
    color: #f20505;
}
hr {
    color: rgb(182, 180, 180);
    border: 0;
    border-bottom: solid 0.5px;
    margin: 2rem 0;
    width: 85%;
    margin-left: 30px;
}








/* .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
} */


/* .qty-input {
  color: #000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: end;
  overflow: hidden;
} */

.group .more{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 28px;
}

.more h2 {
    font-weight: bold;
}



.qty-input {
    color: #000;
    background: #fff;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-right: 10px;
    justify-content: end;
    overflow: hidden;
}
.qty-input .product-qty,
.qty-input .qty-count {
    background: transparent;
    color: inherit;
    font-weight: bold;
    font-size: inherit;
    border: none;
    display: inline-block;
    min-width: 0;
    height: 2.5rem;
    line-height: 1;
}
.qty-input .product-qty:focus,
.qty-input .qty-count:focus {
    outline: none;
}

.qty-input .product-qty::-webkit-outer-spin-button,
.qty-input .product-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.qty-input .qty-count {
    cursor: pointer;
    width: 2.5rem;
    font-size: 1.25em;
    text-indent: -100px;
    overflow: hidden;
    position: relative;
    border: 1px solid #f20505;
    border-radius: 10px;
}

.qty-input .qty-count:before, .qty-input .qty-count:after {
    content: "";
    height: 1px;
    width: 10px;
    position: absolute;
    display: inline;
    background: #f20505;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.qty-input .qty-count--add:after {
    transform: rotate(90deg);
}
.qty-input .qty-count:disabled {
    color: #ccc;
    background: #f2f2f2;
    cursor: not-allowed;
    border-color: transparent;
}
.qty-input .qty-count:disabled:before, .qty-input .qty-count:disabled:after {
    background: #ccc;
}
.qty-input .qty-count--add {
    color: white;
}
.qty-input {
    border-radius: 4px;
}

.qty-input .product-qty {
    width: 50px;
    min-width: 0;
    display: inline-block;
    text-align: center;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border: 1px solid #F2F2F2;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #363636;
}